{% extends '@OnlinqFormCollection/collection_theme.html.twig' %}

{%- block collection_widget -%}
  {%- set attr = attr|merge({
    'allow-add': allow_add,
    'allow-delete': allow_delete,
    'allow-move': allow_move ?? attr['allow-move'] ?? false,
    'prefix': form.vars.full_name,
  }) -%}

  <onlinq-collection {{ block('widget_container_attributes') }}>
    {%- if prototype is defined and not prototype.rendered -%}
      <template collection-prototype>
        {{ form_row(prototype) }}
      </template>
    {%- endif -%}

    {%- set children = form|filter(child => not child.rendered) -%}
    {%- for child in children -%}
      <onlinq-collection-entry collection-index="{{ child.vars.name }}">
        {{- form_row(child) -}}
      </onlinq-collection-entry>
    {%- endfor -%}

    <div slot="add">
      {%- if allow_add -%}
        <button type="button" class="btn btn-light" collection-add>Add</button>
      {%- endif -%}
    </div>

    {{- form_rest(form) -}}
  </onlinq-collection>
{%- endblock collection_widget -%}

{%- block collection_entry_row -%}
  {%- set allow_move = form.parent.vars.allow_move ?? form.parent.vars.attr['allow-move'] ?? false -%}

  {{- block('form_row') -}}
  <div slot="actions">
    {%- if allow_move -%}
      <button type="button" class="btn btn-light mb-3 mr-2" collection-move-up>&uparrow;</button>
      <button type="button" class="btn btn-light mb-3 mr-2" collection-move-down>&downarrow;</button>
    {%- endif -%}
    {%- if form.parent.vars.allow_delete -%}
      <button type="button" class="btn btn-light mb-3 mr-2" collection-delete>Delete</button>
    {%- endif -%}
  </div>
{%- endblock collection_entry_row -%}
