{% use '@OnlinqFormCollection/collection_theme.html.twig' %}

{%- block onlinq_collection_widget -%}
  {%- set attr = attr|merge({
    'name': form.vars.full_name,
    'actions': collection_actions,
    'actionlist': collection_action_list,
    'min': min ?? attr['min'] ?? 0,
    'max': max ?? attr['max'] ?? 0,
    'prototype-actions': collection_actions,
  }) -%}

  <onlinq-collection {{ block('widget_container_attributes') }}>
    {%- if prototype is defined and not prototype.rendered -%}
      <template data-collection-prototype>
        {{- form_row(prototype) -}}
      </template>
    {%- endif -%}

    {%- set children = form|filter(child => not child.rendered) -%}
    {%- for child in children -%}
      {%- set child_attr = {
        'collection': form.vars.full_name,
        'collection-index': child.vars.name,
        'actions': collection_actions,
      } -%}

      <onlinq-collection-entry {% with {attr: child_attr} %}{{ block('widget_container_attributes') }}{% endwith %}>
        {{- form_row(child) -}}
      </onlinq-collection-entry>
    {%- endfor -%}

    <div slot="add">
      <button is="onlinq-collection-add" type="button" class="btn btn-light" data-collection="{{ form.vars.full_name }}">Add</button>
    </div>

    {{- form_rest(form) -}}
  </onlinq-collection>
{%- endblock onlinq_collection_widget -%}
